<% provide(:title, t("static_pages.about.title")) %>
  <h1><%= t "static_pages.about.content_about" %></h1>
  <p>
    <%= t "static_pages.about.content_about1"  %>
    <%= link_to t("static_pages.home.content_about2"), "http://www.railstutorial.org/" %>
      <%= t "static_pages.about.content_about2"  %>
    </a>
    <%= t "static_pages.about.content_about3"  %>
  </p>
