<% provide(:title, t("static_pages.help.title"))%>
  <h1><%= t "static_pages.home.content_help" %></h1>
  <p>
    <%= t "static_pages.home.content_help1"  %>
    <%= link_to t("static_pages.home.content_help2"), "http://www.railstutorial.org/" %>
    <%= t "static_pages.home.content_help2"  %>
    <%= t "static_pages.home.content_help3"  %>
  </p>
