<% provide(:title, t("static_pages.home.title"))%>
  <h1><%= t "static_pages.home.content_home" %></h1>
  <p>
    <%= t "static_pages.home.content_home1"  %>
    <%= link_to t("static_pages.home.content_home2"), "http://www.railstutorial.org/" %>
      <%= t "static_pages.home.content_home2"  %>
    </a>
    <%= t "static_pages.home.content_home3"  %>
  </p>
